---
---
@import 'bootstrap/bootstrap';

@font-face {
    font-family: 'FBMagicPotion1Regular';
    src: url('/assets/fonts/FBMagicPotion1Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.blog-header {
  margin: 0;
  padding: 0;
  background: #000000;
}

h1, h2, h3, h4, h5, h6, .navbar {
   font-family: 'FBMagicPotion1Regular', serif;
}


